/source/TestResults
/source/tests/Arch.Tests/bin
/source/tests/Arch.Tests/obj
/source/app/Arch.Application/obj
/source/app/Arch.Application/bin
/source/app/Arch.Core/bin
/source/app/Arch.Core/obj
/source/app/Arch.Infra.Common/bin
/source/app/Arch.Infra.Common/obj
/source/app/Arch.Infra.Data/bin
/source/app/Arch.Infra.Data/obj
/source/app/Arch.UI.MVC/bin
/source/app/Arch.UI.MVC/obj
/source/.vs
/source/tests
/source/packages
*.user
*.suo
/source/.nuget
